/* -------------------------------------------------------
Font Faces
==========================================================
Contains all fonts used in WilliaFerraz.com
------------------------------------------------------- */

/*-----------------------
       Montserrat
-----------------------*/

/* Thin */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-Thin.ttf');
    font-weight: 100;
}

/* Thin Italic */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* Light 300 */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
}

/* Light Italic */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}

/* Regular Italic */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
}

/* Medium Italic */
@font-face {
    font-family: Montserrat;
    src: url('./Montserrat/Montserrat-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}

/* Bold Italic */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-Black.ttf');
    font-weight: 900;
}

/* Black Italic */
@font-face {
    font-family: Montserrat;
    src: url('Montserrat/Montserrat-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

/*-----------------------
         Raleway
-----------------------*/

/* Thin */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-Thin.ttf');
    font-weight: 100;
}

/* Thin Italic */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* Light 300 */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-Light.ttf');
    font-weight: 300;
}

/* Light Italic */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-Regular.ttf');
    font-weight: 400;
}

/* Regular Italic */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-Medium.ttf');
    font-weight: 500;
}

/* Medium Italic */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-Bold.ttf');
    font-weight: 700;
}

/* Bold Italic */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-Black.ttf');
    font-weight: 900;
}

/* Black Italic */
@font-face {
    font-family: Raleway;
    src: url('Raleway/Raleway-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
